@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#root{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  body {
    
    background: repeating-linear-gradient(
      0deg,
      #dbdbdb, #dbdbdb 1px, /* Horizontal lines */
      transparent 1px, transparent 100%
    ),
    repeating-linear-gradient(
      90deg,
      #dbdbdb, #dbdbdb 1px, /* Vertical lines */
      transparent 1px, transparent 100%
    );
    background-size: 15px 15px; /* Adjust the size */
    background-color: #e9e7e7;
  }
  
  .custom-shadow {
    box-shadow: -1px 2px 0px rgba(0, 0, 0);
  }

  .custom-shadow-2 {
    box-shadow: 0px 1px 0px rgba(0, 0, 0);
  }

  input.custom-shadow-2:focus{
    box-shadow: -1px 1px 0px rgba(0, 0, 0);
  }

  .custom-shadow-view-box {
    box-shadow: -5px 7px 0px rgba(0, 0, 0);
  }


  .spinner-container {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100vh;            /* Full viewport height */
   
  }

  /* Add to your CSS file */
/* Define the square */
.spinner {
  width: 300px;
  height: 300px;
  background-color: #c86ff1;  /* Color of the square */
  border: 2px solid black;
  border-radius: 100px;
  animation: rotate 2s linear infinite;  /* Animation applied to the square */
  
}

/* Keyframe animation for rotating the square */
@keyframes rotate {
  0% { transform: rotate(0deg); }  /* Start with no rotation */
  100% { transform: rotate(360deg); }  /* Rotate 360 degrees */
}



.spinner-content {
  animation: reverse-rotate 2s linear infinite;
}


/* Reverse rotation */
@keyframes reverse-rotate {
  0% { transform: rotate(-0deg); }
  100% { transform: rotate(-360deg); }  /* Counterclockwise rotation */
}

/* custom media query for under 630px to show scroll bar */
@media (max-width: 629px) {
  .custom-scroll {
    max-height: 500px;
    overflow-y: auto;
  }
}


.poem {
  
}


/* Custom styles for layout */
.container {
  max-width: 100%;
  margin:  10 auto;
  
}

.close-btn {
  top: 1rem;
  right: 1rem;
}

.title-container {
  padding: 1rem;
}

.content-container {
  padding: 1.5rem;
  position: relative;
  overflow-y: auto;
  max-height: 500px;
}

.content-text {
  font-size: 1rem;
  line-height: 1.5;
}

.content-date {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.footer-container {
  padding: 1.25rem;
  text-align: center;
}

.footer-text {
  font-size: 1rem;
}

.action-buttons {
  gap: 0.75rem;
  padding: 1rem;
}

.delete-btn, .edit-btn {
  transition: transform 0.3s ease;
}

.delete-btn:hover, .edit-btn:hover {
  transform: scale(1.1);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .container {
      width: 90%;
      
  }

  .title-container {
      font-size: 1.5rem;
      padding: 0.75rem;
  }

  .content-text {
      font-size: 0.875rem;
  }

  .footer-container {
      padding: 1rem;
  }

  .footer-text {
      font-size: 0.875rem;
  }

  .action-buttons {
      flex-direction: row;
  }
}

@media (max-width: 480px) {
  .container {
      width: 100%;
  }

  .title-container {
      font-size: 1.25rem;
  }

  .content-text {
      font-size: 0.75rem;
  }

  .footer-text {
      font-size: 0.75rem;
  }

  .action-buttons {
    padding: 1rem;
    gap: 1rem;
  }
  .delete-btn, .edit-btn {
    font-size: 0.5rem;
  }

  .custom-shadow-view-box {
    box-shadow: none;
  }

}

@media (min-width: 1100px) {
  .container {
    width: 70%;
    max-width: 1200px;
  }

  .title-container {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .content-text {
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .footer-container {
    padding: 1rem;
  }

  .footer-text {
    font-size: 1.125rem;
  }

  .action-buttons {

    padding: 1.2rem;
    gap: 1rem;
  }

  .delete-btn, .edit-btn {
    font-size: 1.5rem;
  }
}
